{% extends "login_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Log In
{% endblock title %}

{% block leftbar %}
<div class="col-sm-3">
    
</div>
{% endblock leftbar %}

{% block content %}
<div class="form-container row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <h2 class="text-uppercase text-center mb-5">Share your beauty!</h2>
                <form action="{% url 'users:login'%}" method="POST">
                {% csrf_token %}
                <div class="form-outline mb-2">
                    <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                    Haven't an account yet? <a href="{% url 'users:register' %}" class="fw-bold text-body"><u>Register here</u></a>
                </p>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
