{% extends "login_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock title %}

{% block leftbar %}
<div class="col-sm-3">
    
</div>
{% endblock leftbar %}

{% block content %}
<div class="form-container row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <h2 class="text-uppercase text-center mb-5">Share your beauty!</h2>
                <form action="{% url 'users:register' %}" method="POST">
                {% csrf_token %}
                <div class="form-outline mb-2">
                    <input type="text" name='username' value='{{fieldValues.username}}' id="form3Example1cg" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form3Example1cg">Username</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="email" name="email" value='{{fieldValues.email}}' id="form3Example3cg" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="password" name="password2" id="form3Example4cdg" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form3Example4cdg">Confirm password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                    Have already an account? <a href="{% url 'users:login' %}" class="fw-bold text-body"><u>Login here</u></a>
                </p>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
