{% extends "login_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock title %}

{% block leftbar %}
<div class="col-sm-3">
    
</div>
{% endblock leftbar %}

{% block content %}
<div class="form-container row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <h2 class="text-uppercase text-center mb-5">Share your beauty!</h2>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Register</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div>
                </form>
                
                <p class="text-center text-muted mt-5 mb-0">
                    Have already an account? <a href="{% url 'users:login' %}" class="fw-bold text-body"><u>Login here</u></a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
